{% extends "base.html.twig" %}

{% block title%} {{ parent() }} | Accueil {%endblock%}

{% block body %}
<div class="jumbotron">
    <div class="container mt-4">
    <h1 class="display-4">Bienvenue sur TraiteApp</h1>
    <p class="lead"> Une application simple et facile d'accès pour renseignez vos données laitières, gérer vos troupeaux et partager vos bovins. </p>
    <hr class="my-4">
    <p>Pour commencer, rendez vous sur la page d'inscription pour utiliser l'application.</p>
    <a class="btn btn-primary btn-lg" href="{{path('security.registration')}}" role="button">Inscription</a>
  </div>
</div>
{% endblock %}

