{% extends "base.html.twig" %}

{% block title %} Milk Stats {% endblock %}

{% block body %}    
    <div class="container">
        <h1>Derniers relevés</h1>
        {% for volume in volumes %}
            
            
        {% endfor %}

    </div>


{% endblock %}