{% extends "base.html.twig" %}

{% block title%} TraiteApp | Page Not Found {%endblock%}

{% block body %}
<div class="jumbotron mt-4">
    <div class="container mt-4">
    <h1 class="display-4"> Erreur 404 : Page non trouvée </h1>
    <p class="lead"> Message d'erreur : {{ message }}</p>
  </div>
</div>
{% endblock %}