{% extends "base.html.twig" %}

{% block body %}

<div class="container">

    <h1>Ajouter un Bovin</h1>


    <div class="container">
        <h1>Ajouter un Relevé</h1>
    
        {{ form(form)}}

{% endblock %}